<!DOCTYPE html>
<html>
<head>
  <title>Channels</title>
  <link rel="stylesheet" href="/css/style3.css">
</head>

<body>
  <main class="container">
     <main class="container">
<!-- Navbar which can be reused across other pages -->
<%- include('../partials/navbar'); %>
      <h1>Channels</h1>
       <% if (channels && channels.length > 0) { %>
      <ul>
        <% channels.forEach(function(channel) { %>
          <li>
            <strong><%= channel.Name %></strong><br>
            ID: <%= channel.id %><br>
            <strong>Name:</strong> <%= channel.Name %><br>
           <strong>Type:</strong> <%= channel.Type %><br>
            <strong>Description:</strong> <%= channel.Desc %><br>
            <strong>Address:</strong> <%= channel.Address %><br>
            <!-- Add more fields as needed -->
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No channels found.</p>
    <% } %>
    <a href="/">Back to Home</a>
  </main>
</body>
</html>