<!DOCTYPE html>
<html>
<head>
  <title>Channels</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>
      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RGYMZRZ03H');
</script>
</head>

<body>
<!-- Navbar which can be reused across other pages -->
<%- include('../partials/navbar'); %>

    <h1>Locations</h1>

  <!-- Filter buttons -->
<div class="filter-buttons">
    <button onclick="filterCards('all', this)"><a href="/gen">All</a></button>
    <button onclick="filterCards('Recycle', this)"><a href="/gen_recycle">Recycle</a></button>
    <button onclick="filterCards('Repair', this)"><a href="/gen_repair">Repair</a></button>
    <button onclick="filterCards('Donate', this)"><a href="/gen_donate">Donate</a></button>
  </div>


 <main="container">
    <h1>Locations</h1>
       <% if (channels && channels.length > 0) { %>
      <ul>
        <% channels.forEach(function(channel) { %>
          <li>
            <strong><%= channel.Name %></strong><br>
           <strong>Type:</strong> <%= channel.Type %><br>
            <strong>Description:</strong> <%= channel.Desc %><br>
            <strong>Address:</strong> <%= channel.Address %><br>
            <strong>Item Category:</strong> <%= channel.Itemcategory %><br>
            <strong>Postcode:</strong> <%= channel.Postcode %><br>

            <!-- Add more fields as needed -->
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No channels found.</p>
    <% } %>
    <a href="/">Back to Home</a>
  </main>
</body>
</html>