<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Results</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
  <h2>Matched Locations</h2>

  <div id="map" style="height: 500px;"></div>
  <ul>
    <% channels.forEach(channel => { %>
      <li>
        <strong><%= channel.Name %></strong><br>
        <%= channel.Address %><br>
        <%= channel.Items %>
      </li>
    <% }) %>
  </ul>

  <script>
    const map = L.map('map').setView([1.35, 103.82], 12);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    <% channels.forEach(channel => { %>
      L.marker([<%= channel.Y %>, <%= channel.X %>]).addTo(map)
        .bindPopup("<strong><%= channel.Name %></strong><br><%= channel.Address %>");
    <% }); %>
  </script>
</body>
</html>
